body {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  /* max-height: 100vh; */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1;
  width: 99%;
  height: 99%;
  margin: 10px;
  min-height: 95vh;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #ef6b68;
}

header {
    padding: 10px;
    font-family: Work Sans, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

nav {
  background-color: #ef6b68;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 50%;
  /* border: 1px dashed darkblue; */
}

ul {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  list-style: none;
  /* border: 1px solid white; */
  width: 400px;
  min-width: 300px;
}

li {
  /* border: 1px solid green; */
  text-align: center;
  width: max-content;
  /* height: 100%; */
  padding: 10px;
  /* border: none; */
  border-radius: 5px;;
  background-color: #1f233e;
}

a {
  all: unset;
  color: white;
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
}

main {
  /* border: 1px solid green; */
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  flex: 1 1;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  text-align: center;
}

h1 {
  height: 38px;
  font-family: Work Sans, sans-serif;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
  color: #1f233e;
  /* padding-top: 40px; */
  margin-bottom: 20px;
}

li {
  text-align: center;
  margin: 0 25% 0 25%;
}

.logo {
  width: 110px;
  height: 28px;
  margin-top: 40px;
  object-fit: contain;
}

.container {
  width: 400px;
  margin-top: 20px;
  text-align: center;
}

input {
  width: 219px;
  height: 37px;
  border-radius: 3.2px;
  border: solid 0.8px #1f233e;
  background-color: inherit;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: Source Sans Pro;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

#submit {
  width: 125px;
  height: 30px;
  border-radius: 2px;
  border-color: inherit;
  background-color: #1f233e;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-top: 30px;
  text-align: center;
  color: #ef6b68;
  margin-right: -3px;
}

#responseField {
  min-width: 191px;
  min-height: 120px;
  max-height: 240px;
  overflow: auto;
  background-color: #1f233e;
  /* margin: auto; */
  margin-top: 25px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  /* line-height: normal; */
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  padding: 20px;
}

#submit:hover {
  color: #ffffff;
  cursor: pointer;
}

#submit:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ef6b68;
  cursor: pointer;
}
  